        <div class="col-xs-12 col-lg-6">
            <div class="contact-box" style="height: 265px;">
                {#<a href="profile.html">#}
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <div class="text-center">
                                {#<img alt="image" class="img-circle m-t-xs img-responsive" src="{{ asset('bundles/ldmmain/img/'~member.picture) }}" style="height: 180px;width: auto;">#}
                                <img alt="image" class="img-circle m-t-xs img-responsive" src="{{ asset('bundles/ldmmain/img/'~member.picture) }}" style="max-height: 180px;width: auto;">
                                {#<img alt="image" class="img-circle m-t-xs img-responsive" src="{{ asset('bundles/ldmmain/img/'~member.picture) }}">#}
                                <div class="m-t-xs font-bold">{{ member.title}}</div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <h3><strong>{{ member.name }}</strong></h3>
                            {#<p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>#}
                            <p>{{ member.description|raw }}</p>
                            <address>
                                {#<strong>Twitter, Inc.</strong><br>#}
                                {#795 Folsom Ave, Suite 600<br>#}
                                {#San Francisco, CA 94107<br>#}
                                {#<abbr title="Phone">contact:</abbr> (123) 456-7890#}
                                {#LALA#}
                                {% if member.contact == 'aschueller@bio.puc.cl' %}
                                    <div>
                                <i class="fa fa-phone"></i> Phone office: +56 2 2354 1842
                                    </div>
                                    <div>
                                <i class="fa fa-phone"></i> Phone lab: +56 2 2354 2605

                                    </div>
                                {% endif %}
                                <i class="fa fa-envelope"></i> Email: {{ member.contact }}
                            </address>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                {#</a>#}
            </div>
        </div>