{% extends "@LDMMain/baseUser.html.twig" %}

{% block main_header %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>
                <span class="text-navy">Inicio</span>
            </h2>
            <ol class="breadcrumb">
                <li class="active">
                    <a target="_blank" href="{{ path('ldm_home') }}">Home</a>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block wrapper_class %}article{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="text-center article-title">
                        <span class="text-navy"><h1>Cheminformatics - An introduction to computer-aided drug discovery</h1></span>
                    </div>

                    {#<h1>Cheminformatics - An introduction to computer-aided drug discovery</h1>#}
                    <p>This is an introduction of cheminformatics computer-aided drug discovery, based on usage of Bioinformatics tools in order to create in silico background for ligand-protein study interested people.</p>

                    <h2>Software to be installed</h2>
                    <div class="row well well-md">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <ul>
                                <li>
                                    OpenBabel:
                                    <ul>
                                        <li><a target="_blank" href="{{ asset('bundles/ldmmain/data/OpenBabel-2.4.1-x86(32bits).exe') }}">OpenBabel Windows 32bits</a></li>
                                        <li><a target="_blank" href="{{ asset('bundles/ldmmain/data/OpenBabel-2.4.1(64bits).exe') }}">OpenBabel Windows 64bits</a></li>
                                        <li><a target="_blank" href="{{ asset('bundles/ldmmain/data/openbabel-2.4.1.tar.gz') }}">Linux</a></li>
                                        <li><a target="_blank" href="{{ asset('bundles/ldmmain/data/iBabel.zip') }}">MacOSX Ibabel</a></li>
                                    </ul>
                                </li>
                                <li>
                                    Chimera:
                                    <ul>
                                        <li><a target="_blank" href="{{ asset('bundles/ldmmain/data/chimera-1.12-win64.exe') }}">Chimera Windows 64bits</a></li>
                                        <li><a target="_blank" href="{{ asset('bundles/ldmmain/data/chimera-1.12-win64.exe') }}">Linux 64bits</a></li>
                                        <li><a target="_blank" href="{{ asset('bundles/ldmmain/data/chimera-1.12-mac64.dmg') }}">MacOSX 64bits</a></li>
                                    </ul>
                                </li>
                                <li>
                                    Pymol:
                                    <ul>
                                        <li><a target="_blank" href="{{ asset('bundles/ldmmain/data/PyMOL-2.1.1_0-Windows-x86_64.exe') }}">Windows 64bits</a></li>
                                        <li><a target="_blank" href="{{ asset('bundles/ldmmain/data/PyMOL-2.1.1_0-Linux-x86_64.tar.bz2') }}">Linux</a></li>
                                        <li><a target="_blank" href="{{ asset('bundles/ldmmain/data/PyMOL-2.1.1_0-MacOS.dmg') }}">MacOSX Disk Image</a></li>
                                        <li><a target="_blank" href="{{ asset('bundles/ldmmain/data/pymol-edu-license.lic') }}">Licence file</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <ul>
                                <li>
                                    AutoDock Vina:
                                    <ul>
                                        <li><a target="_blank" href="{{ asset('bundles/ldmmain/data/autodock_vina_1_1_2_win32.msi') }}">AutoDock Vina Windows</a></li>
                                        <li><a target="_blank" href="{{ asset('bundles/ldmmain/data/autodock_vina_1_1_2_linux_x86.tgz') }}">Linux</a></li>
                                        <li><a target="_blank" href="{{ asset('bundles/ldmmain/data/autodock_vina_1_1_2_mac.tgz') }}">MacOSX</a></li>
                                    </ul>
                                </li>
                                <li>
                                    MGLTools:
                                    <ul>
                                        <li><a target="_blank" href="{{ asset('bundles/ldmmain/data/mgltools_win32_1.5.6_Setup.exe') }}">MGLTools Windows</a></li>
                                        <li><a target="_blank" href="{{ asset('bundles/ldmmain/data/mgltools_i86Linux2_1.5.6.tar.gz') }}">Linux 32bits</a></li>
                                        <li><a target="_blank" href="{{ asset('bundles/ldmmain/data/mgltools_x86_64Linux2_1.5.6.tar.gz') }}">Linux 64bits</a></li>
                                        <li><a target="_blank" href="{{ asset('bundles/ldmmain/data/mgltools_i86Darwin9_1.5.6.tar.gz') }}">MacOSX 32bits</a></li>
                                        <li><a target="_blank" href="{{ asset('bundles/ldmmain/data/mgltools_ppcDarwin9_1.5.6.tar.gz') }}">MacOSX 64bits</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h2>Hardware requirements</h2>
                    <div class="well well-md">
                    <ul>
                        <li>Bring your own computer (Windows, Mac, Linux)</li>
                        <li>3-button mouse</li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
